###
# Copyright (c) 2024 Battle Road Consulting. All rights reserved.
###

# Ignore Gradle project-specific cache directory
.gradle

# Ignore IDE specific settings
.vscode

# Ignore Gradle build output directory
build

# Ignore test output directory
test-results

# Ignore Mac-specific files
.DS_Store
